// .advantages-section{
//     padding-top: 94px;
// }

// .advantages-list{
//     display: flex;
// }

// .advantages-list-item{
//     max-width: 270px;

//     &:not(:last-child){
//         margin-right: 30px;
//     }

//     &::before{
//         display: block;
//         content: "";
//         width: 270px;
//         height: 120px;
//         background-repeat: no-repeat;
//         background-color: #F5F4FA;
//         background-position: center;
//         border-radius: 4px;
//         margin-bottom: 30px;
//     }
// }

// .icon-antenna::before{
//     background-image: url(../images/avantages/antenna.svg);
// }

// .icon-clock::before{
//     background-image: url(../images/avantages/clock.svg);
// }

// .icon-diagram::before{
//     background-image: url(../images/avantages/diagram.svg);
// }

// .icon-astronaut::before{
//     background-image: url(../images/avantages/astronaut.svg);
// }


.advantages-section {
    padding-top: 60px;
}

.advantages-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.advantages-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.advantages-list-item {
    max-width: 100%;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &::before {
        display: block;
        content: "";
        width: 100%;
        height: 120px;
        background-repeat: no-repeat;
        background-color: #F5F4FA;
        background-position: center;
        border-radius: 4px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {

    .advantages-list{
        display: flex; 
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .advantages-list-item {
        width: calc((100% / 2) - 30px );
        margin-left: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .advantages-list-item {
        width: 270px;
    }
} 

.icon-antenna::before{
    background-image: url(../images/avantages/antenna.svg);
}

.icon-clock::before{
    background-image: url(../images/avantages/clock.svg);
}

.icon-diagram::before{
    background-image: url(../images/avantages/diagram.svg);
}

.icon-astronaut::before{
    background-image: url(../images/avantages/astronaut.svg);
}